/checkpoint
/checkpoints
/cache
*.log
*.gba
*.pyc
*.cpython
*.pem
*.gba
llm_log_*
CLAUDE.md
.vscode
**.s3cfg**
# Ignore everything inside Data/
Data/*

# Ignore everything inside Emerald-GBAdvance/
Emerald-GBAdvance/*

agent_direct_save.state
/wandb
# Keep the folders themselves (optional)
!Data/.gitkeep
!Emerald-GBAdvance/.gitkeep
/state
/docker_build
.cache
.venv
core.*
slurm*