architecture: "state_only"
lm_name_or_path: "Qwen/Qwen3-1.7B"
vision_name_or_path: "google/siglip-base-patch16-224"
load_path: .cache/pokeagent/checkpoints/early_game_state_only_agent/5b499486d21887611f62005c1c08280b91df05c5/checkpoint-2365/model.safetensors
output_dir: ".cache/pokeagent/checkpoints"
num_train_epochs: 5
per_device_train_batch_size: 4
save_strategy: "steps"
save_steps: 500
save_total_limit: 10
learning_rate: 5.0e-5
weight_decay: 0.00001
adam_beta2: 0.95
warmup_ratio: 0.05
lr_scheduler_type: "linear"
logging_steps: 1
gradient_checkpointing: true
report_to: "wandb"
eval_strategy: "steps"
eval_steps: 237 # 1/2 epoch
dataloader_num_workers: 8

# inference
agent_steps: 5000
save_state: .cache/pokeagent/save_state/truck_start.state
sampling_strategy: temperature
temperature: 0.01
actions_per_seconds: 60
agent_fps: 2
inference_save_path: .cache/pokeagent/runs
context_length: 64

# idm
output_classes: 9
idm_fps: 4
idm_batch_size: 2
idm_image_size: [128, 128]
s3_bucket: b4schnei
idm_epochs: 1
idm_lr: 5.0e-5
idm_weight_decay: 0
idm_max_grad_norm: 1.0
wandb_project: pokeagent
idm_gradient_accumulation_steps: 1
idm_eval_every: 100
idm_scheduler: null
idm_output_path: rnd_idm_model.pt
idm_save_every: 100
